
body {
    background-color: #9c9c9c;

}
h1{
    text-align: center;
    text-transform: capitalize;
}
h2 {
    margin: 0;
}
.item {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #d7d7d7;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    display: grid;
}

a {
    background-color: rgb(143, 111, 225);
    text-decoration: none;
    padding: 10px 20px;
    color: #103;
    border-radius: 5px;
}

.grid {
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 20px;
    height: 800px;
    grid-template-columns: 300px 300px;
    background-color: red;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    /* justify-content: space-between;
    align-content: space-; */
}